<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>All users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>User name</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${oneUser}">
        <td th:text="${user.username}"></td>
        <td>
        <span th:each="role : ${user.getRoles()}">
            <span th:text="${role.getName()}"></span>
        </span>
        </td>
        <td><a th:href="@{user/user-update/{id}(id=${user.id})}">
            <input type="submit" value="Update"/></a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<a th:href="@{/login}">
    <input type="submit" value="Exit"/>
</a>
</body>
</html>